<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent 4 you</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="nav">
        <div class="logo">
            <img src="wbimage/logo.jpg" alt="logo">
            <!-- <h1>Rent 4 you</h1> -->
        </div>
        <div class="item">
            <% if (user) { %>
                <a class="welcome">Welcome, <%= user.username %>!</a>
            <% } else { %>
                <a class="welco" href="/login">Login</a>
            <% } %>
            
        </div>
        <div class="custom_menu-btn">
            <button onclick="openNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
            </button>
        </div>
        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/cars">Cars</a>
                <a href="/contact">Contact Us</a>
                <% if (!user) { %>
                    <a href="/login">Login</a>
                <% }
                else { %>
                    <a href="/profile">profile</a>
                    <a href="/logout">logout</a>
                <% } %>
            </div>
        </div>
    </nav>
    <section class="support-sec">
        <div class="txt">
            <p class="txt1"><span>About</span> Us</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, cupiditate!</p>
        </div>

        <div class="main-sec">
            <div class="box">
                <i class="fa-solid fa-phone"></i>
                <div class="txt-sec">
                    <p class="txt1">24 Hour Support</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque sequi animi ab
                        corporis, necessitatibus eum cum vel rerum nisi.</p>
                </div>
            </div>
            <div class="box">
                <i class="fa-solid fa-flag-checkered"></i>
                <div class="txt-sec">
                    <p class="txt1">Best Price</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque sequi animi ab
                        corporis, necessitatibus eum cum vel rerum nisi.</p>
                </div>
            </div>

            <div class="box">
                <i class="fa-solid fa-certificate"></i>
                <div class="txt-sec">
                    <p class="txt1">Verified License</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque sequi animi ab
                        corporis, necessitatibus eum cum vel rerum nisi.</p>
                </div>
            </div>

            <div class="box">
                <i class="fa-solid fa-user-shield"></i>
                <div class="txt-sec">
                    <p class="txt1">Safe cars</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque sequi animi ab
                        corporis, necessitatibus eum cum vel rerum nisi.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="">

    </section>
    <section class="achie-sec">
        <div class="txt">
            <p class="txt1">Our <span>Achievement</span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, provident.</p>
        </div>

        <div class="main-sec">
            <div class="box">
                <p class="txt1">40+</p>
                <p>Active Member</p>
            </div>

            <div class="box">
                <p class="txt1">30+</p>
                <p>Car Color</p>
            </div>

            <div class="box">
                <p class="txt1">60+</p>
                <p>Car Model</p>
            </div>

            <div class="box">
                <p class="txt1">10k</p>
                <p>Positive Rating</p>
            </div>
        </div>
    </section>
    <script src="script.js"></script>
</body>

</html>