<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent 4 you</title>
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        .con-box {
            min-height: 88vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: whitesmoke; */
        }

        .container {
            margin-top: -135px;
            width: 78%;
            background: #fff;
            border-radius: 10px;
            padding: 20px 60px 30px 40px;
            box-shadow: rgba(149, 157, 165, 0.473) 0px 8px 24px;
        }

        .container .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .container .content .left-side {
            width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            position: relative;
        }

        .content .left-side::before {
            content: '';
            position: absolute;
            height: 70%;
            width: 2px;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
            background: #afafb6;
        }

        .content .left-side .details {
            margin: 14px;
            text-align: center;
        }

        .content .left-side .details i {
            font-size: 30px;
            color: #0043ff8c;

            margin-bottom: 10px;
        }

        .content .left-side .details .topic {
            font-size: 18px;
            font-weight: 500;
        }

        .content .left-side .details .text-one,
        .content .left-side .details .text-two {
            font-size: 14px;
            color: #afafb6;
        }

        .container .content .right-side {
            width: 75%;
            margin-left: 75px;
        }

        .content .right-side .topic-text {
            font-size: 23px;
            font-weight: 600;
            color: #0043ff8c;
            ;
        }

        .right-side .input-box {
            height: 50px;
            width: 100%;
            margin: 12px 0;
        }

        .right-side .input-box input,
        .right-side .input-box textarea {
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            background: #F0F1F8;
            border-radius: 6px;
            padding: 0 15px;
            resize: none;
        }

        .right-side .message-box {
            min-height: 110px;
        }

        .right-side .input-box textarea {
            padding-top: 6px;
        }

        .right-side .button {
            display: inline-block;
            margin-top: 12px;
        }

        .right-side .button input[type="submit"] {
            color: #fff;
            font-size: 18px;
            outline: none;
            border: none;
            padding: 8px 16px;
            border-radius: 6px;
            background: #0043ff8c;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .button input[type="submit"]:hover {
            background: #0044ff2f;
        }

        .last {
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: whitesmoke; */
            margin-top: -90px;
            flex-direction: column;

        }

        .click {
            margin: 10px;
            margin-bottom: 20px;
        }

        .click img {
            height: 40px;
            width: 40px;
        }

        @media (max-width: 950px) {
            .container {
                width: 90%;
                padding: 30px 40px 40px 35px;
            }

            .container .content .right-side {
                width: 75%;
                margin-left: 55px;
            }
        }

        @media (max-width: 820px) {
            .container {
                margin: 40px 0;
                height: 100%;
            }

            .container .content {
                flex-direction: column-reverse;
            }

            .container .content .left-side {
                width: 100%;
                flex-direction: row;
                margin-top: 40px;
                justify-content: center;
                flex-wrap: wrap;
            }

            .container .content .left-side::before {
                display: none;
            }

            .container .content .right-side {
                width: 100%;
                margin-left: 0;
            }
        }
    </style>
</head>

<body>
    <nav class="nav">
        <div class="logo">
            <img src="wbimage/logo.jpg" alt="logo">
            <!-- <h1>Rent 4 you</h1> -->
        </div>
        <div class="item">
            <% if (user) { %>
                <a class="welcome">Welcome, <%= user.username %>!</a>
                <% } else { %>
                    <a class="welco" href="/login">Login</a>
                    <% } %>

        </div>
        <div class="custom_menu-btn">
            <button onclick="openNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
            </button>
        </div>
        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/cars">Cars</a>
                <a href="/contact">Contact Us</a>
                <% if (!user) { %>
                    <a href="/login">Login</a>
                    <% } else { %>
                        <a href="/profile">profile</a>
                        <a href="/logout">logout</a>
                        <% } %>
            </div>
        </div>
    </nav>

    <div class="con-box">
        <div class="container">
            <div class="content">
                <div class="left-side">
                    <div class="address details">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="topic">Address</div>
                        <div class="text-one">Surkhet, NP12</div>
                        <div class="text-two">Birendranagar 06</div>
                    </div>
                    <div class="phone details">
                        <i class="fas fa-phone-alt"></i>
                        <div class="topic">Phone</div>
                        <div class="text-one">+0098 9893 5647</div>
                        <div class="text-two">+0096 3434 5678</div>
                    </div>
                    <div class="email details">
                        <i class="fas fa-envelope"></i>
                        <div class="topic">Email</div>
                        <div class="text-one">rentforyou@gmail.com</div>
                        <div class="text-two">rent4you@gmail.com</div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="topic-text">Send us a message</div>
                    <p>If you have any work from me or any types of quries related to my tutorial, you can send me
                        message from here. It's my pleasure to help you.</p>
                    <form action="#">
                        <div class="input-box">
                            <input type="text" id="name" placeholder="Enter your name" required>
                        </div>
                        <div class="input-box">
                            <input type="mail" id="mail" placeholder="Enter your email" required>
                        </div>
                        <div class="input-box message-box">
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message"
                                required></textarea>
                        </div>
                        <div class="button">
                            <input type="submit" name="Send" value="Send Now" onclick=sendMail()>
                            <!-- <button onclick="sendMail()">submit</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="last">
        <div>
            <h1 style="color: #0043ff8c;">Follow us</h1>
        </div>

        <div class="click">
            <img src="wbimage/fb.png" alt="">

            <img src="wbimage/insta.png" alt="">

            <img src="wbimage/linkedin.png" alt="">

            <img src="wbimage/twitter.png" alt="">
        </div>
    </div>

    <script src="script.js"></script>

</body>

</html>