<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent cars</title>
    <style>
        .pay-box {
            padding: 35px;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 250px;
            /* Center the box horizontally */
            margin: 0 auto;
            /* Vertically center the box */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            /* border: 1px solid darkgray; */
            box-shadow: rgba(149, 157, 165, 0.473) 0px 8px 24px;
        }

        i {
            color: #0f4fff8c;
            font-size: 90px;
            line-height: 180px;
            margin-left: -15px;
        }
        p{
            margin-top: 3px;
            margin-bottom: 3px;
        }
        h1 {
            color: #0f4fff8c;
        }
        button{height: 30px;
           margin-top: 15px;
            border-radius: 10px;
            background-color: #0f4fff8c;
           border-color: rgb(16, 16, 16);
        }
        button a { font-size: 15px;
            font-weight: 400;
            color: whitesmoke;
            text-decoration: none;
        }
        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }
        .f{
            margin-bottom: 12px;
        }
        .b{ text-align: center;
            border-top: 1px solid darkgray;
        }
    </style>
</head>

<body>
    <div class="pay-box">
        <div
            style="display: flex;justify-content: center;border-radius:180px; height:180px; width:180px; background: #f2f4ff; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1 style="display: flex;justify-content: center;margin-bottom: 10px;">Payment recived</h1>
        <div class="f">
        <p>Hi : <%= nameOnCard %></p>
        <p>Your transaction was Successful!</p>
        <h2>Payment Details</h2>
        <p>Amount: ₹<span id="totalPrice"></span> </p>
        <p>Account: <span id="accountNumber"></span></p>
    </div>
        <div class="b">
            <p style="margin-top:10px ;">Transaction Id: <span id="id"></span></p>
        <button><a href="/">Go Back To Home</a></button>
        </div>

    </div>
    <script>
         var totalPrice =  <%=car.price%> * <%=car.day%>;
        document.getElementById("totalPrice").textContent = totalPrice;
        const accountNumber = Math.floor(Math.random() * (1000000000-9999999999 + 1)) + 9999999999;
        document.getElementById("accountNumber").textContent = accountNumber;
        document.getElementById("id").textContent = accountNumber + 34546354168;

    </script>
</body>

</html>